<div class="payment-methods">


    <!-- CARD -->

    <label class="payment-option">

        <input
            type="radio"
            name="payment_method"
            value="card"
        >

        <div class="payment-content">

            <div class="payment-title">
                <span class="payment-icon">💳</span>

                <div>
                    <strong>Credit / Debit Card</strong>

                    <small>
                        Pay securely using your card
                    </small>
                </div>
            </div>

        </div>

    </label>


    <!-- UPI -->

    <label class="payment-option">

        <input
            type="radio"
            name="payment_method"
            value="upi"
        >

        <div class="payment-content">

            <div class="payment-title">

                <span class="payment-icon">📱</span>

                <div>
                    <strong>UPI</strong>

                    <small>
                        Pay using UPI
                    </small>
                </div>

            </div>

        </div>

    </label>


    <!-- COD -->

    <label class="payment-option">

        <input
            type="radio"
            name="payment_method"
            value="cod"
            checked
        >

        <div class="payment-content">

            <div class="payment-title">

                <span class="payment-icon">💵</span>

                <div>

                    <strong>Cash on Delivery</strong>

                    <small>
                        Pay when your order arrives
                    </small>

                </div>

            </div>

        </div>

    </label>

</div>